<h1>ここの居酒屋にいこう！</h1>


<% @results.each do |result| %>
<br>
<p><%=result[:name]%></p>

<body>
<br>
<%=result[:open]%>
<br>
<%=result[:access]%>
<br>
<%=result[:address]%>
<br>
<%=result[:budget][:average]%>
<br>
<%= image_tag "#{result[:photo][:pc][:l]}",:width => '450',:height => '300'%>
<br>
お店のURLはこちら→<%=link_to"#{result[:urls][:pc]}"%>

<%end%>


<br><br>
<a href="show" class="btn-square">同じ条件でもう一度検索</a>
<br><br>
<a href="/" class="btn-square">条件を変えてもう一度検索</a>

</body>
<br><br><br>
 Powered by <a style="text-align:right" href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>